<main>

    <div id="annonce"></div>
    
    <div id="fullpage-wrapper"></div>
    
    <div id="main">
        
        <div class="region fullscreen below"><div class="container"></div></div>
        
        <!-- TOP -->
        <div class="region top bar">
            <!-- BAR -->
            <div class="container" id="top_bar">  </div>
            
            <!-- LEFT -->
            <div class="region top left">
                <div class="container" id="top_left">   </div>
            </div>
            
            <!-- CENTER -->
            <div class="region top center">
                <div class="container" id="top_center">   </div>
            </div>
            
            <!-- RIGHT -->
            <div class="region top right">
                <div class="container" id="top_right">   </div>
            </div>
        </div>
        
        <!-- UPPER THIRD -->
        <div class="region upper third">
            <div class="container" id="upper_third">   </div>
        </div>
        
        <!-- MIDDLE CENTER -->
        <div class="region middle third">
            <div class="container" id="middle_third">   </div>
        </div>
        
        <!-- LOWER THIRD -->
        <div class="region lower third">
            <div class="container" id="lower_third">   </div>
        </div>
        
        <!-- BOTTOM -->
        <div class="region bottom bar">
            <!-- BAR -->
            <div class="container" id="bottom_bar">   </div>
            
            <!-- LEFT-->
            <div class="region bottom left">
                <div class="container" id="bottom_left">   </div>
            </div>
            
            <!-- CENTER -->
            <div class="region bottom center">
                <div class="container" id="bottom_center">   </div>
            </div>
            
            <!-- RIGHT -->
            <div class="region bottom right">
                <div class="container" id="bottom_right">   </div>
            </div>
            
        </div>
        
        <div class="region fullscreen above">
            <div class="container"></div>
        </div>
        
    </div>

</main>
