.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #f09,
        0 0 82px #f09,
        0 0 92px #f09,
        0 0 102px #f09,
        0 0 151px #f09;

    font-family: 'Vibur', cursive;
}


h1,
h2 {
    text-align: center;
    font-weight: 400;
    line-height: 1;
}

h1 {
    font-size: 6.2rem;
    animation: pulsate 2s ease-in-out infinite alternate;
}

h2 {
    font-size: 1.8rem;
}

@keyframes pulsate {

    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #f09,
            0 0 80px #f09,
            0 0 90px #f09,
            0 0 100px #f09,
            0 0 150px #f09;

    }

    0% {

        text-shadow:
            0 0 4px #fff,
            0 0 10px #fff,
            0 0 18px #fff,
            0 0 38px #f09,
            0 0 73px #f09,
            0 0 80px #f09,
            0 0 94px #f09,
            0 0 140px #f09;

    }
}


img {

    position: absolute;

    &.rotate {
        animation: rotation 45s infinite, fade-in 5s;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
            // transform: scale(0);
            transform: rotate(0deg);

        }

        100% {
            opacity: 1;
            // transform: scale(1);
            transform: rotate(359deg);
        }
    }

    @keyframes rotation {
        0% {
            transform: rotate(8deg);
        }

        100% {
            transform: rotate(359deg);
        }
    }
}
